 #clockContainer{
   background-color: red;  
   height: 50vw ;
   width: 50vw;
   background: url('clock.png') no-repeat  ;
   background-size: 100%;
  
   margin: auto;
   
 }
 
 #minute, #hour, #second
 {
   position: relative;
   background: black;
   border-radius: 10px;
   bottom: -48%;
   left: 50%;
   transform-origin: top;
   
 }
 #second{
   
   height: 19vw;
   width: 0.5vw;
   bottom: 8%;

 }

 #minute{
  
height: 15vw;
width: 0.7vw;
bottom: -23%;
}

 
 #hour
 { 
   height: 13vw;
   width: 1vw;
 }
 